<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <h3>Train Machine Learning Model</h3>
<form method="POST">
    <button type="submit">Train Model</button>
</form>
{% if accuracy %}
    <h2>Accuracy: {{ accuracy }}%</h2>

    <img src="{{ url_for('static', filename='accuracy.png') }}"
         width="500">
{% endif %}
<br>
<form>
    <button type="submit">Users</button>
</form>

<a href="/logout">Logout</a>
</body>
</html>
